<div class="col-xs-12 big-search">
	<h3 class="hs">Search</h3>
	<div class="padding-3">
		<h5 class="margin-0">Options</h5>
		<ul>
			<li><input type="checkbox" /><span>Option 1</span></li>
			<li><input type="checkbox" /><span>Option 2</span></li>
			<li><input type="checkbox" /><span>Option 2</span></li>
		</ul>
	</div>
	<div class="padding-bottom-5">
		<input class="width-75-pct" type="text" placeholder="search" value="" />
		<button class="btn btn-default btn-xs"> GO </button>
	</div>
</div>
