<div class="col-sm-10 col-sm-offset-1 color-secondary-2-1">
    <div class="row sample-6 white-text">
        <div class="col-sm-2">
            <ul class="nav padding-top-4 padding-bottom-4">
                <li>footer link 1</li>
                <li>footer link 2</li>
            </ul>
        </div>
        <div class="col-sm-8 padding-2">
            <span> abbreviated site info</span>

        </div>
        <div class="hidden-xs hidden-sm col-sm-2  padding-top-1 padding-bottom-1 ">
            <div class="pull-right">
                <a class="validate" target="_blank" href="https://validator.w3.org/check/referrer">
                    <div class="html_icon" aria-label="html5 icon">&nbsp;</div>
                </a>

                <a class="validate" target="_blank" href="https://jigsaw.w3.org/css-validator/check/referer?profile=css3">
                    <div class="css_icon" aria-label="css3 icon">&nbsp;</div>
                </a>
            </div>
        </div>
    </div>
</div>