<div class="row" id="section-links">
    <div class="col-xs-12">
        <h3 class="hs">Sections</h3>
        <ul class="nav">
            <li class="padding-quarter">
                <a href="#">Link1</a>
            </li>
            <li class="padding-quarter">
                <a href="#">Link2</a>
            </li>
            <li class="padding-quarter">
                <a href="#">Link3</a>
            </li>
            <li class="padding-quarter">
                <a href="#">Link4</a>
            </li>

        </ul>
    </div>
</div>
<div class="row bottom">
    
</div>