<div class="em0_833">
    <h3>Featured Content 1</h3>
    <p> Integer blandit, nulla et tristique tincidunt,
        nulla nibh vehicula mauris, id aliquam eros erat
        eget ligula. Sed aliquet sagittis
        commodo&nbsp;&nbsp;<a href="#">more...</a></p>

</div>
<div class="em0_833">
    <h3>Featured Content 2</h3>
    <p>Quisque sit amet enim eu libero pharetra feugiat
        tempor eu ex. In ac pellentesque sapien. Donec
        varius, arcu eget ornare
        condimentum &nbsp;&nbsp;<a href="#">more...</a></p>

</div>
